<template>
    <form @submit.prevent="addTeam(name); name=''" action="/api/teams">
        <input type="text" v-model="name" placeholder="Name" />
        <input type="submit" value="Create team" />
    </form>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data: function() {
            return {
                "name": ""
            }
        },

        methods: mapActions([
            'addTeam'
        ])
    }
</script>
