<template>
    <ol>
        <li v-for="team in teams">
            {{ team.name }}<button @click.prevent="deleteTeam(team)">x</button>
            <ol>
                <li v-for="user in team.users">{{ user.name }}<button @click.prevent="removeUser(user)">x</button></li>
            </ol>
        </li>
    </ol>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        computed: mapGetters({
            teams: 'allTeams'
        }),

        data: function() {
            return {
                "name": ""
            }
        },

        methods: mapActions([
            'deleteTeam'
        ]),

        mounted() {
            this.$store.dispatch('loadTeams')
        }
    }
</script>
